
/* for computer, there is no need for menu button, menu is displayed on top always*/

body{


	margin:0 !important;

}

.navbar{

	background : #1c2237; /* dark blue */
	height :80px;
	display : flex;
	justify-content:center;
	align-items: center;
	font-size: 1.2rem; /*120% of browser's font */
	position: sticky; /* combination of relative and fixed */
	top : 0;
	z-index : 999; /* stack order */
	width: 100%;
		

	


}

.navbar-container{


	display: flex;
	justify-content : space-between; /* items have space between */
	height : 80px;
	


	




}



.container{

	z-index:1;
	max-width: 1300px;
	margin-right : auto; /*spaces between element and outside */
	margin-left: 0;
	padding-left:50px;
	padding-right: 50px;



}

.navbar-logo{


	color:#fff; /* white */
	justify-self: start; /* aligned on most left */
	cursor: pointer;
	text-decoration: none;
	font-size: 1.2rem;
	display: flex; /* boxes */
	align-items: center;
	

}

.navbar-icon{


	margin-right:0.5rem;


}



.menu-icon{



	display: none;


}


.navbar-menu {
	display: flex; 
	align-items: center; 
	justify-content: center; 
	list-style: none; 
	text-align: center;
	justify-content: flex-end;
	position: absolute;
	right : 10px;
	top: -100px;

}









.navbar-item {



	width : 100px;	
	
	border-bottom: 2px solid transparent;} 





.navbar-item:hover {

	border-bottom: 2px solid #f00946; /* redline after pressed */


}


.navbar-link {

	height:0px;

	color: #fff ; /* white */
	display: flex;
	align-items: center; 
	text-decoration: none;
	padding: 50% 10%;  
	/* height:100%; */

}




@media screen and (max-width: 960px) { 


	html,body{
		width:100%;
		top: 0px;
		position:relative;
		right:0px;
		margin:0 !important;

	}



	



	.navbar{

		
		width:100%;

	}

	.navbar-item { 
		
		position: relative; 

	} 

	.navbar-menu {	

		display: flex;
		flex-direction: column; 
		width: 100%; 
		height: 90%; 
		position: fixed; 
		top: 61px; 
		left: -100%; 
		opacity: 1; 
		transition: all 0.5s ease; /* moves slowly then fast then slow*/
	} 

	.navbar-menu.active { 


		background: #1c2237; 
		left:-10px ; 
		opacity: 1;
		transition: all 0.6s ease;
		z-index: 1;
		
	}

	.navbar-link {
		
		text-align: center;
		padding: 2rem;
		width: 75%; 
		display: table; 
	} 

	.navbar-link:hover { 

		color: #f00946;
		transform: scale(1.2); 
		transition: all 0.3s ease; 

	} 

	.navbar-item:hover {

		border: none;

	} 
	
	.navbar-item { 
		
		width: 100%;
		height:25%;

	} 

	.navbar-logo {

		position: absolute;
		top: 0; 
		left: 0; 
		transform: translate(25%, 50%); /* translation of x , y */

	} 

	.menu-icon {

		display: block;
		position: absolute;
		top: 0;
		right: 0; 
		transform: translate(-100%, 60%);
		font-size: 1.8rem; 
		cursor: pointer;

	}

	.fa-times { 
		color: #fff; 
		font-size: 2rem; 

	} 

	.navbar-btn {

		display: flex;
		justify-content: center; 
		align-items: center;
		width: 75%; 
		height: 120px; 
		position: relative;
		left: -10px;
	}

}
